html,
body {
    height: 100%;
    font-family: 'Roboto';
    color: #212121;
}


.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


.section {
    padding-top: 94px;
    padding-bottom: 94px;
}


/*Header*/

.header {
    border-bottom: 1px solid #ECECEC;
}


.page-header {
    height: 80px;
    display: flex;
    justify-content: space-between;
}


.nav-header {
    display: flex;
    justify-content: left;
    align-items: center;
}


.logo-link {
    color: #2196F3;
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}


.logo-header {
    color: black;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}


.list-nav {
    list-style-type: none;
    display: flex;
    align-items: center;
}


.list-nav .link {
    text-decoration: none;
    list-style-type: none;
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    padding: 32px 0px;
}


.list-nav > li:nth-child(2) {
    margin: 0px 50px ;
}


.list-nav .link:hover,
.list-nav .link:focus {
    color: #2196F3;
}

.list-nav .link.current {
    color: #2196F3;
}



.list-header {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding-left: 0px;
    margin: 0px;
}


.header-email {
    text-decoration: none;
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    margin-right: 50px;
}

.header-email:hover,
.header-email:focus {
    color: #2196F3;
}


.header-number {
    text-decoration: none;
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.header-number:hover,
.header-number:focus {
    color: #2196F3;
}

/*Body*/

.hero {
    width: 100%;
    height: 600px;
    background: #2F303A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.hero-text {
    color: #fff;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}


.button-hero {
    background: #2196F3;
    color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px 10px 32px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    border: 0;
    cursor: pointer;
}


.features {
    display: flex;
    justify-content: center;
}


.features-ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 0%;
    width: 1170px;
    padding: 0px;
    padding-top: 96px;
}


.features-li {
    width: 270px;
    display: flex;
    flex-direction: column;
}


.features-title {
    margin: 0px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}


.features-text {
    margin: 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}


.referral {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.referral-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    margin: 0px;
    margin-bottom: 50px;
}


.referral-ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.referral-li {
    height: 294px;
}


.referral-ul li:not(:last-child) {
    margin-right: 30px;
}



.team {
    background: #F5F4FA;
}


.page-team {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    margin: 0;
    margin-bottom: 50px;
}


.team-ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}


.team-li {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}


.team-li:not(:last-child) {
    margin-right: 30px;
}


.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0px;
    margin-top: 30px;
}


.team-profession {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    margin-top: 10px;
    margin-bottom: 30px;
}

/*Footer*/

.page-footer {
    background: #2F303A;
    display: flex;
    align-items: center;
}


.footer-block {
    margin: 0px;
    padding: 0px;
    padding-top: 60px;
    padding-bottom: 60px;
}


.logo-footer {
    color: #fff;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}


.footer {
    padding-left: 216px;
    line-height: 24px;
    font-style: normal;
}


.footer-address {
    font-size: 14px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin: 0px;
    margin-top: 20px;
}


.footer-text {
    font-size: 14px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    margin: 0px;
    margin-top: 9px;
}







.main-page {
    display: flex;
    flex-direction: column;
    
}


.filter-ul {
    display: flex;
    justify-content: center;
    margin: 0;
    margin-bottom: 50px;
    list-style-type: none;
}


.button-filter {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;   
    color: #212121;
    padding: 6px 22px 6px 22px;
    background: #F5F4FA;
    border: 0;
    border-radius: 4px;
    margin: 0px 8px 0px 8px;
}

.button-filter:hover,
.button-filter:focus {
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: #FFFFFF;
}


.card-set {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
}


.project {
    background: #FFFFFF;
}


.project-block {
    justify-content: center;
    padding: 20px 24px 24px 20px;
}


.project-title {
    width: 322px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.06em;
    color: #212121;
    margin: 0;
    margin-bottom: 4px;
}



.project-text {
    width: 322px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
    margin: 0;
}

.project-link {
    text-decoration: none;
}